// color palette - these colors will be the color swatches of the Colors section

$color-1: #e1ebfe; // light Blue
$color-2: #013d1f; // Dark green
$color-3: #000000; // black
$color-4: #808080; // gray
$color-5: #ffffff; //white
$color-6: #ff0000; //red

// additional colors

$success: #013d1f; // green
$alert: $color-6; // red